# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fvfdoxitbsnamhnebffc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2ZmRveGl0YnNuYW1obmViZmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNjM0NjEsImV4cCI6MjEwMzYzOTQ2MX0.rGwhV1btxKWIbe4bTYII_yYfc9UBFKTBM-2dxtv5qLg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2ZmRveGl0YnNuYW1obmViZmZjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODA2MzQ2MSwiZXhwIjoyMTAzNjM5NDYxfQ.iMPwlVl_7IHswUj78JxI4UFmjtlDVJGgNxfWNaxLZIw
