# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fvfdoxitbsnamhnebffc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<isi_dengan_anon_key>
SUPABASE_SERVICE_ROLE_KEY=<isi_dengan_service_role_key> # WAJIB diisi manual di .env.local, JANGAN pernah di-commit ke repo
